<!DOCTYPE html>
<html lang="en">
    <head>
        <base href="../">
        <title>Khoa Pham</title>
        <style>
            hr {
                visibility: hidden;
            }
            .div-control {
                display: flex;
                width: 300px;
                justify-content: space-between
            }
        </style>
    </head>
    <body>
        <div>
            <h3><%= name %></h3>
            <div class="div-control">
                <a href="#">Trở lại</a>
                <a href="#">Tiếp</a>
            </div>
            <hr />
            <img src="<%- image %>" width="300" height="400">
            <hr />
            <div class="div-control">
                <a href="#"><%= like %> Like</a>
                <a href="#"><%= dislike %> Dislike</a>
            </div>
        </div>
    </body>
</html>
